<div class="header">
  <img src="../../assets/logo-dark.png">
  <div class="container">
    <h1>Discovery Demo App</h1>
    <p>Querying a Movie Database</p>
  </div>
  <div class="button-row">
    <a mat-raised-button href="https://www.ibm.com/cloud/watson-discovery">Watson Discovery</a>
    <a mat-raised-button href="https://cloud.ibm.com/docs/discovery?topic=discovery-about">Discovery Documentation</a>
    <a mat-raised-button href="https://github.com/Maxwell-Chittenden/WatsonDiscovery">Github Repository</a>
    <a mat-raised-button href="https://angular.io/">Angular</a>
  </div>
</div>
  