.container{
  background: #292929;
  color: lightgray;
  text-align:center;
  margin: auto;
  padding: 20px;
  bottom: 0;
}

img{
  width: 250px;
  padding: 20px
}

.footer,
.push {
  bottom: 0;
  width: 100%;
}