.container {
  background: whitesmoke;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  max-width: 600px;
  border-radius: 50px;
  position: relative;
  text-emphasis: bold;
  text-align: center;
  color: darkslategray;
}

p {
  padding: 20px;
}